<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResultFile=".phpunit.cache/result.cache"
         executionOrder="defects"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         convertDeprecationsToExceptions="false">

    <!-- Los avisos de deprecación del motor (PHP 8.4+ marca los parámetros
         implícitamente nullables, en nuestro código y en vendor/) van a
         stderr: se siguen viendo, pero no se mezclan con la salida del test,
         que failOnRisky trataría como una falla. En producción corre 8.3. -->
    <php>
        <ini name="display_errors" value="stderr"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integracion">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">handlers</directory>
            <directory suffix=".php">lib</directory>
            <file>JWT.php</file>
            <file>PageAccess.php</file>
        </include>
    </coverage>
</phpunit>
